.app {
  text-align: center;
  display: flex;
  align-items: stretch;
  position: absolute;
  width: 100%;
  height: 100%;
}

.left {
  border-right: 1px solid #eee;
  width: 300px;
  padding: 20px;
}

.right {
  flex: 1;
}

.qrcode {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 1px solid #eee;
  margin: 10px;
}
